<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    <script>
      var ready;
      ready = function() {
        return $('a[href*="#"]').on('click', function(e) {
          e.preventDefault();
          var speed = 400;
          var href= $(this).attr("href");
          // console.log('this is var href')
          // console.log(href);
          var target = $(href == "#" || href == "" ? 'html' : href);
          // console.log('this is var target')
          // console.log(target);
          var position = target.offset().top;
          $('body,html').animate({scrollTop:position}, speed, 'swing');
          return false;
        });
      };
      $(document).ready(ready);
      $(document).on('page:load', ready);
    </script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-inverse fixed-top">
        <!-- ロゴ -->
        <a href="#top" class="navbar-brand"><%= image_tag("kamon.png", alt: "KATABAMI", id: 'logo') %></a>
        <!-- ハンバーガーメニュー -->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- メニュー本体 -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="nav navbar-nav">
            <li class="nav-item"><%= link_to "能楽について", "#", class: 'nav-link' %></li>
            <li class="nav-item"><a href="#performance" class="nav-link">公演情報</a></li>
            <li class="nav-item"><a href="#resume" class="nav-link">経歴紹介</a></li>
            <li class="nav-item"><a href="#practice" class="nav-link">稽古情報</a></li>
            <li class="nav-item"><%= link_to "ブログ", "https://ameblo.jp/hiroki-mukai/", class: 'nav-link', target: '_blank' %></li>
            <li class="nav-item"><a href="#contact" class="nav-link">お問い合わせ</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container-fluid" id="yield">
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <p>当サイトの内容、テキスト、画像等の無断転載・無断使用を固く禁じます。</p>
        <p>Unauthorized copying and replication of the contents of this site, text and images are strictly prohibited.</p><br>
        <p> designed by Raitehu KIRISHIMA. </p>
        <%= link_to "管理画面へ", manage_url, target: '_blank' %>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>
